<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
<main role="main" class="inner cover">
  <!-- <h1 class="cover-heading">Cover your page.</h1>
  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p> -->
  <div class="row text-center">
    <div class="col-sm-4 col-12"><button type="button" [routerLink]="'/resume'" class="btn btn-lg btn-secondary">{{ 'home.titles.resume' | translate }}</button></div>
    <div class="col-sm-4 col-12"><button type="button" [routerLink]="'/portfolio'" class="btn btn-lg btn-secondary">{{ 'home.titles.portfolio' | translate }}</button></div>
  </div>
</main>
</div>
